{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}
<div class="block-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          Cras vel molestie ex, eget viverra odio. Phasellus a tortor fermentum, cursus metus quis, laoreet velit. Nulla luctus dictum fermentum. Praesent ultrices nulla iaculis nunc facilisis tristique. Nullam at commodo dui. Nam eleifend velit sed cursus egestas. Nulla dignissim, ex eget eleifend lacinia, neque felis blandit ipsum, et interdum ex tortor ut ante. Cras dui felis, rutrum eu eros non, lacinia molestie ex. Sed magna est, vulputate eget dolor quis, bibendum laoreet dui.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
