{% extends 'base.html.twig' %}

{% block title %} Bienvenu {% endblock %}

{% block body %}

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id eos doloremque ut commodi, error tempore accusantium animi fuga blanditiis deserunt officiis quis architecto molestias sequi earum culpa consequuntur facilis cupiditate ex minus! Cumque natus eligendi veniam illum asperiores recusandae ipsam.</p>

{% endblock %}