{% extends 'base.html.twig' %}

{% block stylesheets %} <link rel="stylesheet" href="/css/homestyle.css"> {% endblock %}

{% block title %} Bienvenu {% endblock %}

{% block body %}
<div class="bloc">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id eos doloremque ut commodi, error tempore accusantium animi fuga blanditiis deserunt officiis quis architecto molestias sequi earum culpa consequuntur facilis cupiditate ex minus! Cumque natus eligendi veniam illum asperiores recusandae ipsam.</p>
</div>


<!-- Place this code where you'd like the game to appear -->
<div class="center miniclip-game-embed" data-game-name="splixio" data-theme="5" data-width="1010" data-height="800" data-language="fr"><a href="https://www.miniclip.com/games/splixio/">Play Splix.io</a></div>

<!-- Insert this code before your </body> tag -->
<script src="//static.miniclipcdn.com/js/game-embed.js"></script>
{% endblock %}
